<div ng-controller="dashboardController">
    <nav class="navbar navbar-primary">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-primary">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">{{userInfoService.getUserInfo()["username"]}}</a>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-primary">
                <ul class="nav navbar-nav navbar-right">
                    <li ui-sref="ask">
                        <a style="cursor:pointer" ui-sref="ask">
                            <i class="material-icons">add_circle_outline</i>Create Thread
                            <div class="ripple-container"></div>
                        </a>
                    </li>
                    <li class="active" ui-sref="dashboard">
                        <a ui-sref="dashboard">
                            <i class="material-icons">explore</i> Discover
                        </a>
                    </li>
                    <li ui-sref="profile">
                        <a ui-sref="profile">
                            <img src="https://api.adorable.io/avatars/285/{{userInfoService.getUserInfo()['username']}}@adorable.io.png" alt="..." style="border-radius:3px;height:24px;margin-top:-6px;" class="avatar img-raised"> {{userInfoService.getUserInfo()["username"]}}
                        </a>
                    </li>
                    <li ui-sref="groups">
                        <a ui-sref="groups">
                              Groups
            </a>
                    </li>
                    <li ui-sref="notifications">
                        <a ui-sref="notifications">
                              Notifications
            </a>
                    </li>
                    <li ui-sref="guidelines">
                        <a ui-sref="guidelines">
                              community guidelines
            </a>
                    </li>
                    <li ui-sref="logout">
                        <a ui-sref="logout">
                            <i class="material-icons">settings</i> Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="wrapper">
        <div class="main main-raised" style="margin-right:30px;margin-left:30px;margin-top:0px;">
            <div class="section section-basic">
                <div class="container">

                    <div class="title">
                        <h2>Categories</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button ng-repeat="category in  categories track by $index" class="btn btn-default btn-round">
                                <!-- <i class="material-icons">smartphone</i>Gadgets -->
                                {{category}}
                                <div class="ripple-container"></div>
                            </button>
                        </div>
                    </div>

                    <div class="title">
                        <h2><i class="material-icons">subject</i>Stories To Read</h2>
                    </div>
                    <div ng-show="showLoaderx == true" class="preloader4 col-md-offset-6" style="margin-top:30px;margin-bottom:20px;"></div>
                    <div ng-show="showLoaderx == false" class="row">
                        <!-- <div class="col-md-4">
            							<div class="card" style="box-shadow:none !important;">
            								<div class="card-content content-info" style="position:relative;">
            									<h5 class="category-social">
                                              <i class="fa fa-map"></i> Travel
                                            </h5>
            									<h4 class="card-title">
                                              <a href="#pablo">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</a>
                                            </h4>
            									<div class="footer">
            										<b>Answer:</b><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur...</p>

            										<div class="author">
            											<a href="#pablo">
                                                                     <img src="https://www.learningbygivingfoundation.org/images/pages/learning/testimonial_alexandra_fraenkel.jpg" alt="..." class="avatar img-raised">
                                                                     <span>Jhon Snow</span>
                                                                  </a>
            										</div>
            										<div class="stats">
            											<i class="material-icons">favorite</i> 2.4K ·
            											<i class="material-icons">share</i> 45
            										</div>
            										<center>
            																	<a href="thread_2196.html" class="btn btn-primary btn-round"><i class="material-icons">subject</i> Read<div class="ripple-container"></div></a>
            										</center>
            									</div>
            								</div>
            							</div>
            						</div>-->
                        <div class="togglebutton pull-right" style="margin-top: -80px">
                            <label>
                                <input type="checkbox" ng-model="isReverse"><span class="toggle"></span>
                                <span>Show Latest First</span>
                            </label>
                            <button class="btn btn-simple btn-primary" ng-click="setCategories()" data-toggle="modal" data-target="#filterModal">
                                Add filter
                            </button>
                            <button class="btn btn-simple btn-primary" ng-click="getQuestions()">
                                remove filter
                            </button>
                            <button class="btn btn-simple btn-primary" ng-click="getQuestions()">
							    Refresh
								</button>
                        </div>
                        <center>
                            <h2 ng-if="questions.length == 0">No questions to read.</h1></center>
          <div class="row">
            <i ng-click="showTodayQuestions = true" title="show this section" ng-show="showTodayQuestions == false" class="pointer material-icons questionShowChevron">keyboard_arrow_down</i>
            <i ng-click="showTodayQuestions = false"  ng-show="showTodayQuestions == true && todayQuestions.length > 0" class="pointer material-icons questionShowChevron">keyboard_arrow_up</i>
            <h6 style="font-weight: 600;
    margin-left: 18px;" ng-if="todayQuestions.length > 0">Today :</h6>

            <div class="col-md-4" ng-show="showTodayQuestions == true" ng-repeat="todayQuestion in todayQuestions | orderBy : todayQuestion.questionID : isReverse">

							<div class="card" style="min-height:180px;">
								<div class="card-content" style="position:relative">
									<!-- <h6 class="category text-danger">
	    									<i class="material-icons">library_books</i> Category
												<i class="material-icons">business</i>
	    								</h6> -->
									<h4 class="card-title pointer">
	    									<a ui-sref="question({'q': todayQuestion.questionID} )">{{todayQuestion.question}}</a>
	    								</h4>
											<p style="max-height:60px;overflow:hidden;min-height:35px;">{{todayQuestion.description}}</p>
									<div class="footer">
										<div class="author pointer">
											<a ui-sref="profile({'user': todayQuestion.username} )">
                         <img src="https://api.adorable.io/avatars/285/{{todayQuestion.username}}@adorable.io.png" alt="..." style="border-radius:3px;" class="avatar img-raised">
                         <span>{{todayQuestion.username}}</span>
                      </a>
										</div>
										<div class="stats">
											<span class="label label-info">{{todayQuestion.category}}</span>
											<small>{{timeService.getTime(todayQuestion.questionID)}}</small>
										</div>
									</div>
								</div>

							</div>
						</div>
          </div>

          <i ng-click="showYesterdayQuestions = true" ng-show="showYesterdayQuestions == false" class="pointer material-icons questionShowChevron">keyboard_arrow_down</i>
          <i ng-click="showYesterdayQuestions = false"  ng-show="showYesterdayQuestions == true && yesterdayQuestions.length > 0" class="pointer material-icons questionShowChevron">keyboard_arrow_up</i>

            <h6 style="font-weight: 600;margin-left: 18px;" ng-if="yesterdayQuestions.length > 0">Yesterday :</h6>
            <div class="row">
            <div class="col-md-4" ng-show="showYesterdayQuestions == true" ng-repeat="card in yesterdayQuestions | orderBy : card.questionID : isReverse">

							<div class="card" style="min-height:180px;">
								<div class="card-content" style="position:relative">
									<!-- <h6 class="category text-danger">
	    									<i class="material-icons">library_books</i> Category
												<i class="material-icons">business</i>
	    								</h6> -->
									<h4 class="card-title pointer">
	    									<a ui-sref="question({'q': card.questionID} )">{{card.question}}</a>
	    								</h4>
											<p style="max-height:60px;overflow:hidden;min-height:35px;">{{card.description}}</p>
									<div class="footer">
										<div class="author pointer">
											<a ui-sref="profile({'user': card.username} )">
                         <img src="https://api.adorable.io/avatars/285/{{card.username}}@adorable.io.png" alt="..." style="border-radius:3px;" class="avatar img-raised">
                         <span>{{card.username}}</span>
                      </a>
										</div>
										<div class="stats">
											<span class="label label-info">{{card.category}}</span>
											<small>{{timeService.getTime(card.questionID)}}</small>
										</div>
									</div>
								</div>

							</div>
						</div>
          </div>
          <div class="row">
            <i ng-click="showOlderQuestions = true" ng-show="showOlderQuestions == false" class="pointer material-icons questionShowChevron">keyboard_arrow_down</i>
            <i ng-click="showOlderQuestions = false" ng-show="showOlderQuestions == true && olderQuestions.length >0" class="pointer material-icons questionShowChevron">keyboard_arrow_up</i>
            <h6  style="font-weight: 600;margin-left: 18px;" ng-if="olderQuestions.length > 0">Older :</h6>
            <div class="col-md-4" ng-show="showOlderQuestions == true" ng-repeat="card in olderQuestions | orderBy : card.questionID : isReverse">

							<div class="card" style="min-height:180px;">
								<div class="card-content" style="position:relative">
									<!-- <h6 class="category text-danger">
	    									<i class="material-icons">library_books</i> Category
												<i class="material-icons">business</i>
	    								</h6> -->
									<h4 class="card-title pointer">
	    									<a ui-sref="question({'q': card.questionID} )">{{card.question}}</a>
	    								</h4>
											<p style="max-height:60px;overflow:hidden;min-height:35px;">{{card.description}}</p>
									<div class="footer">
										<div class="author pointer">
											<a ui-sref="profile({'user': card.username} )">
                         <img src="https://api.adorable.io/avatars/285/{{card.username}}@adorable.io.png" alt="..." style="border-radius:3px;" class="avatar img-raised">
                         <span>{{card.username}}</span>
                      </a>
										</div>
										<div class="stats">
											<span class="label label-info">{{card.category}}</span>
											<small>{{timeService.getTime(card.questionID)}}</small>
										</div>
									</div>
								</div>

							</div>
						</div>
          </div>
					</div>

					<!-- <div class="col-md-8 col-md-offset-2">
						<div class="card card-plain card-blog" style="text-align:center;">
							<div class="card-image">
								<a href="#pablo">
								<img class="img img-raised" src="http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_5243a2eb2bc02_1.JPG">
							</a>
								<div class="colored-shadow colored-shadow-big" style="background-image: url('http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_5243a2eb2bc02_1.JPG'); opacity: 1;"></div>
							</div>

							<h6 class="category text-info" style="font-weight:500">Fashion</h6>

							<h3 class="card-title" style="font-weight: 700 !important;font-family: 'Roboto Slab','Times New Roman',serif !important;">
							<a href="#pablo">Autodesk looks to future of 3D</a>
						</h3>

							<h5 class="card-description">
							Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is too high for the beams and angle of the ceiling I also wanted to point out that it’s the first album to go number 1 off of streaming...
						</h5>

							<a href="#pablo" class="btn btn-primary btn-round"> Read More<div class="ripple-container"></div></a>
						</div>
					</div> -->
				</div>
				<!--CARDS SECTION-->
				<!-- <div class="col-lg-4 col-md-6">
					<button class="btn btn-raised btn-round btn-default btn-block" data-toggle="modal" data-target="#noticeModal">
							   <i class="material-icons">info_outline</i>
							   Notice
						   <div class="ripple-container"></div></button>
				</div> -->
			</div>
		</div>
	</div>
	<div class="modal fade in" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="padding-right: 15px;">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						<i class="material-icons">clear</i>
					</button>
					<h4 class="modal-title">Add Filter</h4>
				</div>
				<div class="modal-body">
			        <div class="col-lg-5 col-md-6 col-sm-3">
							<select id="filterSelect" style="height:150px" class="" data-style="select-with-transition" multiple title="Select Category" data-size="{{categories.length}}">
								<option disabled> Select Category</option>
								<option value="{{cat}}" ng-repeat="cat in categories">{{cat}}</option>
							</select>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-simple" ng-click="applyFilter()" >Apply</button>
					<button type="button" class="btn btn-danger btn-simple" data-dismiss="modal">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>
